/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --body-color: #050509;
    --text-color: #fff;
    --first-color: hsl(230, 75%, 56%);
    --second-color: #050509;
    --third-color: #e205dd;
    --four-color: #46cfe3;
    --five-color: linear-gradient(to right, #46cfe3, #e205dd);
    --placeholder-color: #9d9a9a;
    --navbar-color: rgba(30, 30, 35, 0.4);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Chakra Petch", sans-serif;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;

    /*========== Font weight ==========*/
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*========== z index ==========*/
    --z-fixed: 100;
    --z-modal: 1000;
}

body,
html {
    font-family: var(--body-font);
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.navbar-custom {
    background-color: var(--navbar-color);
    height: 80px;
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: white;
}
.navbar-custom .nav-link:hover {
    color: #ccc;
}
.navbar-custom .btn-login {
    color: white;
    background-color: var(--third-color);
    border-radius: 0;
}

.navbar-logo {
    height: 60px;
}

.section {
    height: 100vh; /* Full viewport height */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    color: white;
}

.section-1 {
    position: relative;
    overflow: hidden;
    min-height: 100vh; /* Ensure full height on smaller screens */
}

.section-1 video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.section-2,
.section-3 {
    background-size: cover;
    background-position: center;
}

.section-2 {
    background-image: url("../img/section1.png"); /* Replace with your image URL */
}

.section-3 {
    background-image: url("../img/section2.jpg"); /* Replace with your image URL */
}

/* Hero Image */
.section-1 .row {
    align-items: center;
}
.fixed-text {
    z-index: var(--z-fixed);
}
.fixed-text h1 {
    font-size: 10vw;
    text-align: center;
    font-weight: bold;
    font-family: "Chakra Petch";
    color: var(--third-color);
    text-shadow: 4px 4px 0 var(--four-color),
        /* Right shadow */ -4px 4px 0 var(--four-color),
        /* Left shadow */ 4px -4px 0 var(--four-color),
        /* Top shadow */ -4px -4px 0 var(--four-color); /* Bottom shadow */
    line-height: 1;
}
@media (max-width: 425px) {
    .fixed-text h1 {
        text-shadow: 1px 1px 0 var(--four-color),
            /* Right shadow */ -1px 1px 0 var(--four-color),
            /* Left shadow */ 1px -1px 0 var(--four-color),
            /* Top shadow */ -1px -1px 0 var(--four-color); /* Bottom shadow */
    }
}
.image-slider {
    position: relative;
    overflow: hidden;
    height: auto;
}
.carousel-inner {
    height: auto;
}
.carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: unset !important;
    transition-delay: 5s;
}
.carousel-item img {
    height: auto;
    width: 100%;
    /* object-fit: cover; */
    border-radius: 50px;
}

@media (min-width: 992px) {
    .carousel-indicators {
        top: 50%;
        left: unset !important;
        margin-right: unset !important;
        transform: translateY(-50%);
        flex-direction: column;
        margin: 0;
        z-index: 2;
        margin-right: 0;
    }

    .carousel-indicators [data-bs-target] {
        width: 15px !important;
        height: 15px !important;
        border-radius: 50%;
        margin: 5px 0;
        border: 1px solid var(--third-color) !important;
        background-color: transparent !important;
        transition: background-color 0.3s ease !important;
    }

    .carousel-indicators .active {
        background-color: var(--third-color) !important;
    }
}

@media (min-width: 1200px) and (max-width: 1440px) {
    .fixed-text h1 {
        font-size: 8vw;
    }
    .fixed-text .middle-fixed-text {
        margin-left: 1.8em;
    }
    .carousel-item img {
        height: 45vh;
        margin-left: 10vw;
        width: auto;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .fixed-text h1 {
        font-size: 7vw;
    }
    .fixed-text .middle-fixed-text {
        margin-left: 2em;
    }
    .carousel-item img {
        height: 40vh;
        margin-left: 5.5vw;
        width: auto;
    }
}

.carousel-indicators .active {
    background-color: #fff; /* Active indicator color */
}
